<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QEHJF32SX3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-QEHJF32SX3');
    </script>

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
</head>
  <body>
    <div class="wrapper">
        <header>
            <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

            {% if site.logo %}
            <img src="{{site.logo | relative_url}}" alt="Logo" />
            {% endif %}

            <p>{{ site.description | default: site.github.project_tagline }}</p>

            <!--{% if site.show_downloads %}
    <ul class="downloads">
      <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
      <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
      <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
    </ul>
    {% endif %}-->

            <p><a href="/pub/SIATM/Compositional_capabilities">Compositional capabilities</a></p>
            <p><a href="/pub/SIATM/SIATM_as_a_universal_data_storage_and_exchange_format">SIATM as a universal data storage and exchange format</a></p>
            <p><a href="/pub/SIATM/Informational_richness_and_structural_complexity,_unlimited_scalability,_globalization">Informational richness and structural complexity, unlimited scalability, globalization</a></p>
            <p><a href="/pub/SIATM/Virtualized_data_models">Virtualized data models</a></p>
            <p><a href="/pub/SIATM/Life_without_tags_and_brackets">Life without tags and brackets</a></p>
            <p><a href="/pub/SIATM/Visualization_capabilities">Visual capabilities</a></p>
            <p><a href="/pub/SIATM/Universal_Human-Computer_Interaction_Environment">Universal Human-Computer Interaction Environment</a></p>
        </header>
      <section>

      {{ content }}

      </section>
      <footer>
          <p><small>© 2022-2023 Vadim Baklanov</small></p>
        <!--{% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>-->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
